<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Calendar</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>

    <link rel="stylesheet" th:href="@{/css/styleGeneric.css}"/>

    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet"/>
</head>
<body>
<header>
    <h1> Cokolwiek </h1>

</header>
<section>

    <table>
        <tr>
            <th>Name</th>
            <th>Country</th>
            <th>Date</th>
            <th>Circuit name</th>
            <th>Location</th>
        </tr>

        <tr th:each="race : ${races}">
            <td th:text="${race.name}"></td>
            <td th:text="${race.country}"></td>
            <td th:text="${race.date}"></td>
            <td th:text="${race.circuit.name}"></td>
            <td th:text="${race.circuit.location}"></td>
        </tr>
    </table>

</section>

<footer>
    <a th:href="@{/ui/seasons/{year} (year = ${year})}">Return</a>
</footer>
</body>
</html>