<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Driver Standings</title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>

  <link rel="stylesheet" th:href="@{/css/styleGeneric.css}"/>

  <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet"/>
</head>
<body>
<header>
  <h1> Cokolwiek </h1>

</header>
<section>

  <table>
    <tr>
      <td>Position</td>
      <td>Driver</td>
      <td>Points</td>
      <th:block th:each="race : ${races}">
        <td th:text="${race.name}"> </td>
      </th:block>
    </tr>

    <tr th:each="finalDriver, position: ${finalDrivers}">
      <td th:text="${position.count}"></td>
      <td th:text="${finalDriver.getDriverEntry().getNumber() + ' ' + finalDriver.driverEntry.driver.firstname + ' ' + finalDriver.driverEntry.driver.lastname}"></td>
      <td th:text="${finalDriver.points}"></td>
      <th:block th:each="positionInRace: ${finalDriver.positions}">
        <td th:text="${positionInRace}"></td>
      </th:block>
    </tr>
  </table>

</section>

<footer>
  <a th:href="@{/ui/seasons/{year} (year = ${year})}">Return</a>
</footer>

</body>
</html>