<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main View</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/css/styleGeneric.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet"/>
</head>
<body>
<header>
    <h1> Cokolwiek </h1>

</header>
<section>
    <table>
        <tr><td><a th:href="@{/ui/seasons}">Seasons</a></td></tr>
        <tr><td><a th:href="@{/ui/drivers}">Drivers</a></td></tr>
        <tr><td><a th:href="@{/ui/teams}">Teams</a></td></tr>
        <tr><td><a th:href="@{/ui/circuits}">Circuits</a></td></tr>
        <tr><td><a th:href="@{/ui/engineSuppliers}">Engine Suppliers</a></td></tr>
    </table>
    <br>
</section>

<footer>

</footer>

</body>
</html>