body {
    text-align: center;
    font-family: Calibri, Arial;
    margin: 5px;
    background-color: lightblue;
}

header {
    background-color: #00bb55;
    top: 0;
    width: 100%;
    position: fixed;
    box-shadow: 0 3px 65px 0 #7b1b18;
}

section {
    margin-top: 200px;
}
table {
    margin: 0 auto;
    text-align: center;
    border-width: 10px;
    border-style: solid;
    border-collapse: collapse;
    border-color: #000000;
}
th {
    padding: 5px;
    font-weight: bolder;
    font-size: 2.5em;
    border-style: solid;
    border-width: 2pt;
    border-color: #000000;
}
td {
    padding: 20px;
    font-weight: lighter;
    font-size: 1.5em;
    border-style: solid;
    border-width: 1pt;
    border-color: #000000;
}

footer {
    border-top: 2px solid black;
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    padding: 10px;
}
/*
FOOTER DO ZROBIENIA
 */