<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PROJ</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet"/>
</head>
<body>
<header>
    <h1> Cokolwiek </h1>
    <!--
    <a href="./"><h1>Pix</h1></a>
    <h2 th:text="${title}"></h2>
    <h3> </h3>
    -->
</header>
<section>

    <table>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Age</th>
            <th>Country</th>
        </tr>

        <tr th:each="es : ${engineSups}">
            <td th:text="${es.name}"></td>
            <td th:text="${es.cityLocation}"></td>
            <td th:text="${es.country}"></td>

        </tr>
    </table>

</section>
<div id="orders">

</div>
<footer>
    ${tip}
</footer>

</body>
</html>